ProyectoNido/ProyectoNido/ProyectoNido/Connected Services/wcfNido/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58221/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/clsEntidades" />
  <xs:import schemaLocation="http://localhost:58221/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfNido" />
  <xs:element name="MatriculaDetalle_Reactivar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMatriculaDetalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_ReactivarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listar_tarifario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listar_tarifarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="listar_tarifarioResult" nillable="true" type="q1:ArrayOfclsTarifario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listar_tarifario_combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listar_tarifario_comboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="listar_tarifario_comboResult" nillable="true" type="q2:ArrayOfclsTarifario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicioAdicional">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicioAdicionalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetServicioAdicionalResult" nillable="true" type="q3:ArrayOfclsServicioAdicional" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelServicioAdicional">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelServicioAdicionalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsServicioAdicional">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="servicio" nillable="true" type="q4:clsServicioAdicional" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsServicioAdicionalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModServicioAdicional">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="servicio" nillable="true" type="q5:clsServicioAdicional" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModServicioAdicionalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarServicioAdicional">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarServicioAdicionalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="BuscarServicioAdicionalResult" nillable="true" type="q6:ArrayOfclsServicioAdicional" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicioAlumno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicioAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetServicioAlumnoResult" nillable="true" type="q7:ArrayOfclsServicioAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelServicioAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelServicioAlumnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsServicioAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="servicioAlumno" nillable="true" type="q8:clsServicioAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsServicioAlumnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModServicioAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="servicioAlumno" nillable="true" type="q9:clsServicioAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModServicioAlumnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrupoServicio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrupoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetGrupoServicioResult" nillable="true" type="q10:ArrayOfclsGrupoServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarGrupoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="obj" nillable="true" type="q11:clsGrupoServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarGrupoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarGrupoServicioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarGrupoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="obj" nillable="true" type="q12:clsGrupoServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarGrupoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarGrupoServicioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarGrupoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarGrupoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarGrupoServicioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfNido" minOccurs="0" name="composite" nillable="true" type="q13:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfNido" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q14:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="login" nillable="true" type="q15:clsLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="ValidarUsuarioResult" nillable="true" type="q16:ArrayOfclsLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetUsuarioResult" nillable="true" type="q17:ArrayOfclsUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUsuariosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="Usuario" nillable="true" type="q18:clsUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUsuariosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="User" nillable="true" type="q19:clsUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComunicado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComunicadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetComunicadoResult" nillable="true" type="q20:ArrayOfclsComunicado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarcarComunicadoVisto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idComunicado" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarcarComunicadoVistoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelComunicado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelComunicadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsComunicado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="Usuario" nillable="true" type="q21:clsComunicado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsComunicadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModComunicado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="User" nillable="true" type="q22:clsComunicado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModComunicadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComunicadoPorRolUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComunicadoPorRolUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetComunicadoPorRolUsuarioResult" nillable="true" type="q23:ArrayOfclsComunicado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrito">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistritoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetDistritoResult" nillable="true" type="q24:ArrayOfclsDistrito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDistrito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDistritoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsDistrito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="Distrito" nillable="true" type="q25:clsDistrito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsDistritoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModDistrito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="Distrito" nillable="true" type="q26:clsDistrito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModDistritoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNivel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNivelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetNivelResult" nillable="true" type="q27:ArrayOfclsNivel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelNivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelNivelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsNivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="nivel" nillable="true" type="q28:clsNivel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsNivelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModNivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="nivel" nillable="true" type="q29:clsNivel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModNivelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetSalonResult" nillable="true" type="q30:ArrayOfclsSalon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSalon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSalonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsSalon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="salon" nillable="true" type="q31:clsSalon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsSalonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModSalon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="salon" nillable="true" type="q32:clsSalon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModSalonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSalon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSalonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="BuscarSalonResult" nillable="true" type="q33:ArrayOfclsSalonCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRol">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetRolResult" nillable="true" type="q34:ArrayOfclsRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="rol" nillable="true" type="q35:clsRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="rol" nillable="true" type="q36:clsRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermiso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetPermisoResult" nillable="true" type="q37:ArrayOfclsPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelPermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="per" nillable="true" type="q38:clsPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsPermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="per" nillable="true" type="q39:clsPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModPermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioRol">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetUsuarioRolResult" nillable="true" type="q40:ArrayOfclsUsuarioRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUsuarioRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_user" type="xs:int" />
        <xs:element minOccurs="0" name="id_rol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUsuarioRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUsuarioRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="xUsr" nillable="true" type="q41:clsUsuarioRol" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="xPro" nillable="true" type="q42:clsProfesor" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="xApo" nillable="true" type="q43:clsApoderado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUsuarioRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolPermiso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolPermisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetRolPermisoResult" nillable="true" type="q44:ArrayOfclsRolPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRolPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_rol" type="xs:int" />
        <xs:element minOccurs="0" name="id_permiso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRolPermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsRolPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="xRp" nillable="true" type="q45:clsRolPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsRolPermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioPermiso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioPermisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetUsuarioPermisoResult" nillable="true" type="q46:ArrayOfclsUsuarioPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUsuarioPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_user" type="xs:int" />
        <xs:element minOccurs="0" name="id_permiso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUsuarioPermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUsuarioPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="xUp" nillable="true" type="q47:clsUsuarioPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUsuarioPermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApoderado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApoderadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetApoderadoResult" nillable="true" type="q48:ArrayOfclsApoderado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelApoderado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelApoderadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsApoderado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="apo" nillable="true" type="q49:clsApoderado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsApoderadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModApoderado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="apo" nillable="true" type="q50:clsApoderado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModApoderadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetArchivoApoderado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetArchivoApoderadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="RetArchivoApoderadoResult" nillable="true" type="q51:clsArchivoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfesor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetProfesorResult" nillable="true" type="q52:ArrayOfclsProfesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelProfesorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="profe" nillable="true" type="q53:clsProfesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsProfesorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="profe" nillable="true" type="q54:clsProfesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModProfesorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetArchivoProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
        <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetArchivoProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="RetArchivoProfesorResult" nillable="true" type="q55:clsArchivoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="buscarProfesorResult" nillable="true" type="q56:ArrayOfclsProfesorCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetAlumnoResult" nillable="true" type="q57:ArrayOfclsAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumnosPorGrupoAnual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoAnual" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumnosPorGrupoAnualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="ListarAlumnosPorGrupoAnualResult" nillable="true" type="q58:ArrayOfclsAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumnosPorGrupoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoServicio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumnosPorGrupoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="ListarAlumnosPorGrupoServicioResult" nillable="true" type="q59:ArrayOfclsAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumnosPorApoderado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idApoderado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumnosPorApoderadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="ListarAlumnosPorApoderadoResult" nillable="true" type="q60:ArrayOfclsAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerApoderadoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idApoderado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerApoderadoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="ObtenerApoderadoPorIdResult" nillable="true" type="q61:clsApoderado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAlumnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="alu" nillable="true" type="q62:clsAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsAlumnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="alu" nillable="true" type="q63:clsAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModAlumnoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetArchivoAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
        <xs:element minOccurs="0" name="tipoArch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetArchivoAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="RetArchivoAlumnoResult" nillable="true" type="q64:clsArchivoBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarAlumnos_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarAlumnos_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="listarAlumnos_ComboResult" nillable="true" type="q65:ArrayOfclsAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoDocumento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetTipoDocumentoResult" nillable="true" type="q66:ArrayOfclsTipoDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTipoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTipoDocumentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsTipoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="tipodoc" nillable="true" type="q67:clsTipoDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsTipoDocumentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModTipoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="tipodoc" nillable="true" type="q68:clsTipoDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModTipoDocumentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarGruposPorDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarGruposPorDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="ListarGruposPorDocenteResult" nillable="true" type="q69:ArrayOfclsGrupoAnualDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarGruposServicioPorDocente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarGruposServicioPorDocenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="ListarGruposServicioPorDocenteResult" nillable="true" type="q70:ArrayOfclsGrupoServicioDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOfertasGrupoServicio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOfertasGrupoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="ListarOfertasGrupoServicioResult" nillable="true" type="q71:ArrayOfclsGrupoServicioOferta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrupoAnual">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrupoAnualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="GetGrupoAnualResult" nillable="true" type="q72:ArrayOfclsGrupoAnual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarGrupoAnual_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarGrupoAnual_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="listarGrupoAnual_ComboResult" nillable="true" type="q73:ArrayOfclsGrupoAnual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nido_Matricula_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nido_Matricula_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="Nido_Matricula_ListarResult" nillable="true" type="q74:ArrayOfclsMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Matricula_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMatricula" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idAlumno" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idGrupoAnual" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Matricula_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="Matricula_ListarResult" nillable="true" type="q75:ArrayOfclsMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Matricula_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMatricula" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Matricula_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="Matricula_ObtenerResult" nillable="true" type="q76:clsMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Matricula_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="mat" nillable="true" type="q77:clsMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Matricula_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Matricula_InsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Matricula_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="mat" nillable="true" type="q78:clsMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Matricula_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Matricula_ActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Matricula_CambiarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMatricula" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Matricula_CambiarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Matricula_CambiarEstadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_ListarPorMatricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMatricula" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_ListarPorMatriculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="MatriculaDetalle_ListarPorMatriculaResult" nillable="true" type="q79:ArrayOfclsMatriculaDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMatriculaDetalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="MatriculaDetalle_ObtenerResult" nillable="true" type="q80:clsMatriculaDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="det" nillable="true" type="q81:clsMatriculaDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MatriculaDetalle_InsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/clsEntidades" minOccurs="0" name="det" nillable="true" type="q82:clsMatriculaDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_ActualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMatriculaDetalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_Anular">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMatriculaDetalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatriculaDetalle_AnularResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>