ProyectoNido/ProyectoNido/ProyectoNido/Connected Services/wcfNido/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/clsEntidades" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/clsEntidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58221/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="clsMatriculaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adicional" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="EstadoPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoTexto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPago" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVencimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Cuota" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Matricula" type="xs:int" />
      <xs:element minOccurs="0" name="Id_MatriculaDetalle" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCuota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCuota" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalLinea" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsMatriculaDetalle" nillable="true" type="tns:clsMatriculaDetalle" />
  <xs:complexType name="ArrayOfclsTarifario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsTarifario" nillable="true" type="tns:clsTarifario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsTarifario" nillable="true" type="tns:ArrayOfclsTarifario" />
  <xs:complexType name="clsTarifario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Tarifario" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodo" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsTarifario" nillable="true" type="tns:clsTarifario" />
  <xs:complexType name="ArrayOfclsServicioAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsServicioAdicional" nillable="true" type="tns:clsServicioAdicional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsServicioAdicional" nillable="true" type="tns:ArrayOfclsServicioAdicional" />
  <xs:complexType name="clsServicioAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" name="Costo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_ServicioAdicional" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsServicioAdicional" nillable="true" type="tns:clsServicioAdicional" />
  <xs:complexType name="ArrayOfclsServicioAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsServicioAlumno" nillable="true" type="tns:clsServicioAlumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsServicioAlumno" nillable="true" type="tns:ArrayOfclsServicioAlumno" />
  <xs:complexType name="clsServicioAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaFinal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaPago" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoraFinal" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraInicio" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Id_Alumno" type="xs:int" />
      <xs:element minOccurs="0" name="Id_GrupoServicio" type="xs:int" />
      <xs:element minOccurs="0" name="Id_ServicioAlumno" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreAlumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreGrupo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsServicioAlumno" nillable="true" type="tns:clsServicioAlumno" />
  <xs:complexType name="ArrayOfclsGrupoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsGrupoServicio" nillable="true" type="tns:clsGrupoServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsGrupoServicio" nillable="true" type="tns:ArrayOfclsGrupoServicio" />
  <xs:complexType name="clsGrupoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_GrupoServicio" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Profesor" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Salon" type="xs:int" />
      <xs:element minOccurs="0" name="Id_ServicioAdicional" type="xs:int" />
      <xs:element minOccurs="0" name="NombreProfesor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreSalon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreServicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodo" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGrupoServicio" nillable="true" type="tns:clsGrupoServicio" />
  <xs:complexType name="ArrayOfclsRol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsRol" nillable="true" type="tns:clsRol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsRol" nillable="true" type="tns:ArrayOfclsRol" />
  <xs:complexType name="clsRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NombreRol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsRol" nillable="true" type="tns:clsRol" />
  <xs:complexType name="ArrayOfclsCuota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsCuota" nillable="true" type="tns:clsCuota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsCuota" nillable="true" type="tns:ArrayOfclsCuota" />
  <xs:complexType name="clsCuota">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adicional" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descuento" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FechaPagoSugerido" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Cuota" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Tarifario" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCuota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCuota" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsCuota" nillable="true" type="tns:clsCuota" />
  <xs:complexType name="clsMatricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlumnoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescuentoTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaMatricula" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GrupoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Alumno" type="xs:int" />
      <xs:element minOccurs="0" name="Id_GrupoAnual" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Matricula" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Tarifario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreTarifario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsMatricula" nillable="true" type="tns:clsMatricula" />
  <xs:complexType name="clsResumenCuotas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pagado" type="xs:decimal" />
      <xs:element minOccurs="0" name="Pendiente" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsResumenCuotas" nillable="true" type="tns:clsResumenCuotas" />
  <xs:complexType name="ArrayOfclsMatriculaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsMatriculaDetalle" nillable="true" type="tns:clsMatriculaDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsMatriculaDetalle" nillable="true" type="tns:ArrayOfclsMatriculaDetalle" />
  <xs:complexType name="ArrayOfComunicadoMovil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComunicadoMovil" nillable="true" type="tns:ComunicadoMovil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComunicadoMovil" nillable="true" type="tns:ArrayOfComunicadoMovil" />
  <xs:complexType name="ComunicadoMovil">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoTexto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Comunicado" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visto" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComunicadoMovil" nillable="true" type="tns:ComunicadoMovil" />
  <xs:complexType name="E_MovLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Bloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Rol" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Usuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="E_MovLogin" nillable="true" type="tns:E_MovLogin" />
  <xs:complexType name="ArrayOfclsAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsAlumno" nillable="true" type="tns:clsAlumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsAlumno" nillable="true" type="tns:ArrayOfclsAlumno" />
  <xs:complexType name="clsAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apoderado" nillable="true" type="tns:clsApoderado" />
      <xs:element minOccurs="0" name="CarnetSeguro" nillable="true" type="tns:clsArchivoBase" />
      <xs:element minOccurs="0" name="CopiaDni" nillable="true" type="tns:clsArchivoBase" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCarnetSeguro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCopiaDni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoFotos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoPermisoPublicidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fotos" nillable="true" type="tns:clsArchivoBase" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermisoPublicidad" nillable="true" type="tns:clsArchivoBase" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="tns:clsTipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAlumno" nillable="true" type="tns:clsAlumno" />
  <xs:complexType name="clsApoderado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clsUsuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArchivoBase" nillable="true" type="tns:clsArchivoBase" />
          <xs:element minOccurs="0" name="EstadoArchivo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsApoderado" nillable="true" type="tns:clsApoderado" />
  <xs:complexType name="clsUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveII" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="tns:clsDistrito" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaBloqueo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Intentos" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="tns:clsTipoDocumento" />
      <xs:element minOccurs="0" name="UltimoIntento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UltimoLoginExitoso" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUsuario" nillable="true" type="tns:clsUsuario" />
  <xs:complexType name="clsDistrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsDistrito" nillable="true" type="tns:clsDistrito" />
  <xs:complexType name="clsTipoDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abreviatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CantidadCaracteres" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsTipoDocumento" nillable="true" type="tns:clsTipoDocumento" />
  <xs:complexType name="clsArchivoBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TamanioBytes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsArchivoBase" nillable="true" type="tns:clsArchivoBase" />
  <xs:complexType name="clsLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exito" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id_Permiso" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Rol" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Usuario" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsLogin" nillable="true" type="tns:clsLogin" />
  <xs:complexType name="ArrayOfclsLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsLogin" nillable="true" type="tns:clsLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsLogin" nillable="true" type="tns:ArrayOfclsLogin" />
  <xs:complexType name="ArrayOfclsUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsUsuario" nillable="true" type="tns:clsUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsUsuario" nillable="true" type="tns:ArrayOfclsUsuario" />
  <xs:complexType name="ArrayOfclsComunicado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsComunicado" nillable="true" type="tns:clsComunicado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsComunicado" nillable="true" type="tns:ArrayOfclsComunicado" />
  <xs:complexType name="clsComunicado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFinal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="tns:clsRol" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:clsUsuario" />
      <xs:element minOccurs="0" name="Visto" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsComunicado" nillable="true" type="tns:clsComunicado" />
  <xs:complexType name="ArrayOfclsDistrito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsDistrito" nillable="true" type="tns:clsDistrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsDistrito" nillable="true" type="tns:ArrayOfclsDistrito" />
  <xs:complexType name="ArrayOfclsNivel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsNivel" nillable="true" type="tns:clsNivel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsNivel" nillable="true" type="tns:ArrayOfclsNivel" />
  <xs:complexType name="clsNivel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsNivel" nillable="true" type="tns:clsNivel" />
  <xs:complexType name="ArrayOfclsSalon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsSalon" nillable="true" type="tns:clsSalon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsSalon" nillable="true" type="tns:ArrayOfclsSalon" />
  <xs:complexType name="clsSalon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Aforo" type="xs:int" />
      <xs:element minOccurs="0" name="Dimensiones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsSalon" nillable="true" type="tns:clsSalon" />
  <xs:complexType name="ArrayOfclsSalonCombo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsSalonCombo" nillable="true" type="tns:clsSalonCombo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsSalonCombo" nillable="true" type="tns:ArrayOfclsSalonCombo" />
  <xs:complexType name="clsSalonCombo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_Salon" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsSalonCombo" nillable="true" type="tns:clsSalonCombo" />
  <xs:complexType name="ArrayOfclsPermiso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsPermiso" nillable="true" type="tns:clsPermiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsPermiso" nillable="true" type="tns:ArrayOfclsPermiso" />
  <xs:complexType name="clsPermiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NombrePermiso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPermiso" nillable="true" type="tns:clsPermiso" />
  <xs:complexType name="ArrayOfclsUsuarioRol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsUsuarioRol" nillable="true" type="tns:clsUsuarioRol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsUsuarioRol" nillable="true" type="tns:ArrayOfclsUsuarioRol" />
  <xs:complexType name="clsUsuarioRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rol" nillable="true" type="tns:clsRol" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:clsUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUsuarioRol" nillable="true" type="tns:clsUsuarioRol" />
  <xs:complexType name="clsProfesor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clsUsuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cv" nillable="true" type="tns:clsArchivoBase" />
          <xs:element minOccurs="0" name="EstadoCv" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoEvaluacionPsicologica" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoFotos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoTituloProfesional" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstadoVerificacionDomiciliaria" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EvaluacionPsicologica" nillable="true" type="tns:clsArchivoBase" />
          <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Fotos" nillable="true" type="tns:clsArchivoBase" />
          <xs:element minOccurs="0" name="TituloProfesional" nillable="true" type="tns:clsArchivoBase" />
          <xs:element minOccurs="0" name="VerificacionDomiciliaria" nillable="true" type="tns:clsArchivoBase" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsProfesor" nillable="true" type="tns:clsProfesor" />
  <xs:complexType name="ArrayOfclsRolPermiso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsRolPermiso" nillable="true" type="tns:clsRolPermiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsRolPermiso" nillable="true" type="tns:ArrayOfclsRolPermiso" />
  <xs:complexType name="clsRolPermiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Permiso" nillable="true" type="tns:clsPermiso" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="tns:clsRol" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsRolPermiso" nillable="true" type="tns:clsRolPermiso" />
  <xs:complexType name="ArrayOfclsUsuarioPermiso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsUsuarioPermiso" nillable="true" type="tns:clsUsuarioPermiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsUsuarioPermiso" nillable="true" type="tns:ArrayOfclsUsuarioPermiso" />
  <xs:complexType name="clsUsuarioPermiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Permiso" nillable="true" type="tns:clsPermiso" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:clsUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUsuarioPermiso" nillable="true" type="tns:clsUsuarioPermiso" />
  <xs:complexType name="ArrayOfclsApoderado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsApoderado" nillable="true" type="tns:clsApoderado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsApoderado" nillable="true" type="tns:ArrayOfclsApoderado" />
  <xs:complexType name="ArrayOfclsProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsProfesor" nillable="true" type="tns:clsProfesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsProfesor" nillable="true" type="tns:ArrayOfclsProfesor" />
  <xs:complexType name="ArrayOfclsProfesorCombo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsProfesorCombo" nillable="true" type="tns:clsProfesorCombo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsProfesorCombo" nillable="true" type="tns:ArrayOfclsProfesorCombo" />
  <xs:complexType name="clsProfesorCombo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_Profesor" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsProfesorCombo" nillable="true" type="tns:clsProfesorCombo" />
  <xs:complexType name="ArrayOfclsTipoDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsTipoDocumento" nillable="true" type="tns:clsTipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsTipoDocumento" nillable="true" type="tns:ArrayOfclsTipoDocumento" />
  <xs:complexType name="ArrayOfclsGrupoAnualDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsGrupoAnualDetalle" nillable="true" type="tns:clsGrupoAnualDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsGrupoAnualDetalle" nillable="true" type="tns:ArrayOfclsGrupoAnualDetalle" />
  <xs:complexType name="clsGrupoAnualDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aforo" type="xs:int" />
      <xs:element minOccurs="0" name="Id_GrupoAnual" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreGrupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodo" type="xs:int" />
      <xs:element minOccurs="0" name="Salon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAlumnos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGrupoAnualDetalle" nillable="true" type="tns:clsGrupoAnualDetalle" />
  <xs:complexType name="ArrayOfclsGrupoServicioDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsGrupoServicioDetalle" nillable="true" type="tns:clsGrupoServicioDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsGrupoServicioDetalle" nillable="true" type="tns:ArrayOfclsGrupoServicioDetalle" />
  <xs:complexType name="clsGrupoServicioDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aforo" type="xs:int" />
      <xs:element minOccurs="0" name="Id_GrupoServicio" type="xs:int" />
      <xs:element minOccurs="0" name="Periodo" type="xs:int" />
      <xs:element minOccurs="0" name="Salon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Servicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAlumnos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGrupoServicioDetalle" nillable="true" type="tns:clsGrupoServicioDetalle" />
  <xs:complexType name="ArrayOfclsGrupoServicioOferta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsGrupoServicioOferta" nillable="true" type="tns:clsGrupoServicioOferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsGrupoServicioOferta" nillable="true" type="tns:ArrayOfclsGrupoServicioOferta" />
  <xs:complexType name="clsGrupoServicioOferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aforo" type="xs:int" />
      <xs:element minOccurs="0" name="ApellidoMaternoDocente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaternoDocente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Costo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_GrupoServicio" type="xs:int" />
      <xs:element minOccurs="0" name="NombreDocente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodo" type="xs:int" />
      <xs:element minOccurs="0" name="Salon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Servicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAlumnos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGrupoServicioOferta" nillable="true" type="tns:clsGrupoServicioOferta" />
  <xs:complexType name="ArrayOfclsGrupoAnual">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsGrupoAnual" nillable="true" type="tns:clsGrupoAnual" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsGrupoAnual" nillable="true" type="tns:ArrayOfclsGrupoAnual" />
  <xs:complexType name="clsGrupoAnual">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_GrupoAnual" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Nivel" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Profesor" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Salon" type="xs:int" />
      <xs:element minOccurs="0" name="NombreGrupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsGrupoAnual" nillable="true" type="tns:clsGrupoAnual" />
  <xs:complexType name="ArrayOfclsMatricula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsMatricula" nillable="true" type="tns:clsMatricula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsMatricula" nillable="true" type="tns:ArrayOfclsMatricula" />
</xs:schema>